<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>AttendanceWork02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServle</servlet-name>
    <servlet-class>Tools.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServle</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteInterface</servlet-name>
    <servlet-class>Works.deleteInterface</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteInterface</servlet-name>
    <url-pattern>/deleteInterface</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadPage</servlet-name>
    <servlet-class>Works.loadPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadPage</servlet-name>
    <url-pattern>/loadPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertInterface</servlet-name>
    <servlet-class>Works.insertInterface</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertInterface</servlet-name>
    <url-pattern>/insertInterface</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateInterface</servlet-name>
    <servlet-class>Works.updateInterface</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateInterface</servlet-name>
    <url-pattern>/updateInterface</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getLastId</servlet-name>
    <servlet-class>Works.getLastId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getLastId</servlet-name>
    <url-pattern>/getLastId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showData</servlet-name>
    <servlet-class>Works.showData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showData</servlet-name>
    <url-pattern>/showData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getEchartsData</servlet-name>
    <servlet-class>Works.getEchartsData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getEchartsData</servlet-name>
    <url-pattern>/getEchartsData</url-pattern>
  </servlet-mapping>
</web-app>